/* Contact.css */

/* General container styling for the Contact component */
.contact-page {
    padding-top: 150px;
  }

  .contact-description {
    font-size: 1.4rem;
    color: #000000;
    text-align: center; /* Center the text */
    max-width: 1500px; /* Increased width */
    margin-left: auto;
    margin-right: auto;
    line-height: 1.6;
 

}
.contact-container {
    padding-top: 130px;
    display: flex;
    justify-content: center; /* Center the iframe horizontally */
    min-height: 60vh; /* Set minimum height for full viewport coverage */
  
    box-sizing: border-box;
  }
  
  /* Styling for the iframe that holds the Google Sheet */
  .contact-iframe {
    
    width: 120%; /* Take up 80% of the page width */
    height: 650px; /* Fixed height for the iframe */
    max-width: 1475px; /* Ensure the iframe doesn’t stretch too wide */
    border: 2px solid #ddd; /* Add a subtle border */
    border-radius: 8px; /* Rounded corners */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Add subtle shadow for depth */
  }
  
  /* Responsive design: Make iframe adjust for smaller screens */
  @media (max-width: 1200px) {
    .contact-iframe {

      width: 95%; /* Reduce width for smaller screens */
      height: 400px; /* Reduce height for smaller screens */
   
    }
  }
  