/* Container styling */
.courses-section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: left;
  min-height: 100vh;
  background-color: #f9f9f9;
  padding-left: 50px;
  padding-top: 95px; /* Added extra padding to move the first course lower */
}

/* Course list container */
.course-list {
  width: 100%; /* Stretch the course list to full width */
  max-width: 1350px; /* Limit the maximum width of the course list */
}

/* Entire course item is now clickable */
.course-item-link {
  text-decoration: none; /* Ensure no underline */
  color: inherit; /* Inherit text color */
  display: block; /* Ensure the whole block is clickable */
}

/* Course item box styling */
.course-item {
  background-color: #ffffff;
  border: 3px solid #000000; /* Thicker border */
  border-radius: 5px;
  padding: 30px; /* Increased padding */
  margin-bottom: 40px; /* Increased margin for more space between boxes */
  display: flex;
  justify-content: space-between;
  width: 100%;
  transition: all 0.3s ease; /* Add transition for hover effect */
}

/* Change background color on hover */
.course-item:hover {
  background-color: #f8ecbc; /* Yellow background on hover */
  
}

/* Adjust the layout for a single text column and button on the right */
.course-item .text-container {
  flex: 3; /* Take up most of the space on the left */
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding-right: 20px; /* Space between text and button */
}

/* Title and description column styling */
.column-title h2 {
  font-size: 26px;
  color: #000000;
}

.column-title p {
  font-size: 17px;
}

.column-title h2 a {
  text-decoration: none; /* Remove underline */
  color: #000000; /* Set link color to black */
}

.column-title h2 a:hover {
  color: #ffcc00; /* Optional: Add hover effect */
}

/* Author information */
.column-author {
  display: flex; /* Flexbox to position both elements on the same line */
  align-items: center; /* Vertically align the elements */
}

.column-author p:first-child {
  font-weight: bold; /* Make the first <p> element bold */
  margin-right: 10px; /* Add some space between the two paragraphs */
}

.column-author p {
  font-size: 15px;
  color: #333;
  margin: 0;
}

/* Lecture and duration info */
.column-info-text {
  font-size: 15px;
  color: #777;
  margin-bottom: 0;
}

/* Media queries for responsiveness */
@media (max-width: 768px) {
  .course-item {
    flex-direction: column;
  }

  .column-info {
    align-self: center;
  }
}
