.home-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: #ffffff;
}

.title-section {
  position:absolute;
  bottom: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 2rem;
  margin-bottom: 10px; /* Reduces space between title and description */
}

.welcome-section {
  margin-right: 100px; /* Increased space between "Welcome to" and "UNI" */
}

.uni-section {
  font-weight: bold;
  font-size: 5rem;
}

.description-section {
  position: absolute;
  top: 100px;
  text-align: center;
  font-size: 1.2rem;
  max-width: 800px; /* Set max width for better readability */
}
