.svgtimeline {
    font-family: 'Helvetica', sans-serif;
    padding-left: 100px;
    padding-top: 5px;
  }
  
  .event-label {
    fill: black;
  }
  
  .bigtimelinecircle {
    stroke: black;
    stroke-width: 1px;
  }
  