.svgtimeline {
  font-family: 'Helvetica', sans-serif;
  padding-left: 100px;
  padding-top: 5px;
}

.event-label {
  fill: black;
}

.bigtimelinecircle {
  stroke: black;
  stroke-width: 1px;
}

/* Additional styles for bigTimelineCard */
#bigTimelineCard {
  position: absolute;
  display: none; /* Hidden by default, shown on hover */
  background-color: #f9f9f9;
  padding: 10px;
  text-align: center;
  border-radius: 8px;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
  font-family: "Times New Roman", serif;
  font-size: 16px;
  border: 2px solid transparent; /* Border color will change on hover */
  z-index: 2000; /* Higher than author card to ensure it appears on top */
  opacity: 0.9; /* Slight transparency */
  pointer-events: none; /* Ensure it doesn’t interfere with mouse events */
  white-space: normal; /* Allow text wrapping inside the card */
  max-width: 230px; /* Set maximum width for the card */
  overflow-wrap: break-word; /* Ensure long words wrap */
}
