/* TreeReferenceGraph.css */

svg {
  background-color: white;
  margin-top: 30px; /* Adjust this value as needed to move the graph lower */
}

.hover-card {
  position: absolute;
  top: 20px;
  right: -30px; /* Position the container all the way to the right */
  width: 180px; /* Adjust width to fit the right segment */
  height: 93%;
  width: 178px; /* Adjust width to fit the right segment */
  background-color: white;
  border: 1px solid black;
  border-radius: 4px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  padding: 10px; /* Add padding inside the card */
  pointer-events: auto; /* Ensure the card can capture mouse events */
  font-size: 14px; /* Reduced font size */
  font-family: "Helvetica", "Arial", sans-serif;
  transition: opacity 0.2s;
  overflow-y: auto !important; /* Allow vertical scrolling if content overflows */
  overflow-x: hidden; /* Prevent horizontal scrolling */
  display: flex;
  flex-direction: column;
  justify-content: space-between; /* Space sections evenly */
  z-index: 10; /* Ensure the hover card is on top of other elements */
  display: none; /* Hide by default */
}

.hover-card p {
  margin: 0;
  padding: 2px 0;
  display: flex; /* Use flexbox to align items horizontally */
}

.hover-card p span {
  margin-right: 5px; /* Add some spacing between the label and the value */
}

.hover-card strong {
  display: block;
  margin-bottom: 3px; /* Reduced margin */
  font-size: 14px; /* Slightly larger font for strong elements */
}

.hover-card ul {
  list-style: none; /* Remove default bullet points */
  padding-left: 0; /* Remove default padding */
  margin: 0; /* Remove default margin */
  font-size: 14px; /* Match font size */
}

.hover-card ul li {
  padding: 2px 0; /* Add padding between list items */
  position: relative; /* Ensure the bullet is positioned correctly */
}

.hover-card ul li::before {
  content: '•'; /* Add bullet point */
  position: absolute; /* Position it absolutely */
  left: -14px; /* Adjust left position */
  top: -2px; /* Adjust top position */
  font-size: 23px; /* Adjust font size */
  line-height: 1; /* Adjust line height */
  color: black; /* Default color */
}

.hover-card ul li.direct-reference::before {
  color: red; /* Red color for direct reference */
}

.hover-card ul li.similar-themes::before {
  color: black; /* Black color for similar themes */
}

.hover-card-section {
  text-align: left;
  flex-grow: 1; /* Allow the section to grow */
  display: flex;
  flex-direction: column;
  justify-content: center; /* Center content vertically */
  font-size: 14px;
  padding-left: 14px;
  
}

.hover-card-main {
  padding-top: 70px;
  padding-bottom: 70px;
  padding-left: 10px;
  text-align: center;
  flex-grow: 1; /* Allow the section to grow */
  display: flex;
  flex-direction: column;
  justify-content: center; /* Center content vertically */
  align-items: center; /* Center content horizontally */
  font-size: 15px;
  
}

.hover-card-main p {
  text-align: center; /* Center text within each paragraph */
}

.hover-card-title {
  font-size: 18px; /* Set font size of title component */
  font-weight: bold;
}

.legend {
  margin-top: 20px; /* Space above the legend */
}

.legend-container {
  position: absolute;
  top: 5px;
  right: -250px;
  display: flex;
  align-items: center;
  justify-content: flex-start; /* Align items to the start of the container */
  width: 50%; /* Spread items across the left half of the screen */
  padding-left: 60px;
  font-size: 19px;
  font-family: "Garamond", "Times New Roman", Times, serif;
  padding-left: 970px;
}

.legend-item {
  display: flex; /* Use flexbox to align items horizontally */
  align-items: center; /* Center items vertically */
  margin-right: 20px; /* Space between legend items */
}

.legend-item .bullet {
  display: inline-block;
  width: 10px; /* Width of the bullet point */
  height: 10px; /* Height of the bullet point */
  border-radius: 50%; /* Make it a circle */
  margin-right: 5px; /* Space between bullet and text */
}

.legend-item .bullet.direct-reference {
  background-color: red; /* Red color for direct reference */
}

.legend-item .bullet.similar-themes {
  background-color: black; /* Black color for similar themes */
}

.tags-container {
  position: absolute;
  top: 20px;
  right: -30px; /* Position the container all the way to the right */
  width: 180px; /* Adjust width to fit the right segment */
  height: 93%; /* Make the container the full height */
  background-color: white;
  border: 1px solid black;
  border-radius: 4px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  padding: 7px; /* Add padding inside the container */
  pointer-events: auto; /* Ensure the container can capture mouse events */
  font-size: 13px; /* Reduced font size */
  font-family: "Helvetica", "Arial", sans-serif;
  overflow-y: auto; /* Allow vertical scrolling if content overflows */
  overflow-x: hidden; /* Prevent horizontal scrolling */
  display: flex;
  flex-direction: column;
  justify-content: space-between; /* Space items evenly */
  z-index: 1; /* Ensure the tags container is below the hover card */
}

.tag-group-1 {
  display: grid;
  grid-template-columns: repeat(2, 1fr); /* Create two columns */
  gap: 7px; /* Space between tag items */
  margin-bottom: 20px; /* Space between groups */
}

.tag-group-2 {
  display: flex;
  flex-direction: column; /* Display tags in a single column */
}

.tag-item {
  display: flex;
  align-items: center;
}

.tag-group-2 .tag-item {
  margin-bottom: 7px; /* Add more space between tag items in the second group */
}

.tag-item input {
  margin-right: 5px; /* Space between checkbox and label */
  accent-color: black; /* Change the color of the checkmark to black when checked */
}

.no-scroll {
  overflow: hidden;
}

svg {
  background-color: white;
  transition: transform 0.3s ease; /* Add transition for transform property */
}

.search-component {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
}