/* Navbar Styling */
.navbar {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  background-color: #000000;
  padding: 10px 20px;
  display: flex;
  justify-content: space-between; /* Separate logo and nav links */
  align-items: center;
  z-index: 100;
}

.logo a {
  color: white;
  font-size: 1.5rem;
  font-weight: bold;
  text-decoration: none;
}

.nav-links {
  list-style: none;
  display: flex;
  gap: 30px; /* Space between links */
  margin: 0; /* Remove default margins */
}

.nav-links li {
  color: white;
  font-size: 1.2rem;
}

.nav-links li a {
  text-decoration: none;
  color: white;
}

.nav-links li a:hover {
  color: #ffcc00;
}

/* Home Section Styling */
.home-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: #ffffff;
}

.title-section {
  position: absolute;
  bottom: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 2rem;
  margin-bottom: 10px;
}

.welcome-section {
  margin-right: 100px;
}

.uni-section {
  font-weight: bold;
  font-size: 5rem;
}

.description-section {
  position: absolute;
  top: 100px;
  text-align: center;
  font-size: 1.2rem;
  max-width: 800px;
}
