/* Navbar Styling */
.navbar {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  background-color: #000000;
  padding: 10px 20px;
  display: flex;
  justify-content: space-between; /* Separate logo and nav links */
  align-items: center;
  z-index: 100;
}

.logo a {
  color: white;
  font-size: 1.5rem;
  font-weight: bold;
  text-decoration: none;
  margin-left: 70px;
}

.logo a:hover {
  color: #ffcc00;
}

.current-page-container {
  display: flex;
  align-items: center;
  margin-right: 1120px;
}

.current-page {
  color: white;
  font-size: 1.5rem; /* Same size as the UNI logo */
  font-weight: normal; /* Keep normal font weight */
}

.nav-links {
  list-style: none;
  display: flex;
  gap: 20px; /* Reduced space between links */
  margin: 0; /* Remove default margins */
  margin-left: -50px;
}

.nav-links li {
  color: white;
  font-size: 1.2rem;
}

.nav-links li a {
  text-decoration: none;
  color: white;
}

.nav-links li a:hover {
  color: #ffcc00;
}

/* Home Section Styling */
.home-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: #ffffff;
}

.welcome_statement {
  position: absolute;
  bottom: 400px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 2rem;
  margin-bottom: 10px;
}

.welcome_to {
  margin-right: 100px;
}

.big_UNI {
  font-weight: bold;
  font-size: 5rem;
}

.description {
  position: absolute;
  top: 500px;
  text-align: center;
  font-size: 1.2rem;
  max-width: 800px;
}
